/* ----- RESETS ----- */
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

footer,
header,
main {
  display: block;
}

a {
  background-color: transparent;
}

/* ----- BASE ----- */
*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

body {
  background: linear-gradient(to bottom right,
    #3bd961 10%,
    #0eb7f5 40%,
    #0eb7f5 60%,
    #00376c
  );
  color: #000;
  font-family: 'Segoe UI', 'Consolas', 'Lucida Console', sans-serif;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 4rem;
}

a {
  color: inherit;
}

ol {
  padding-left: 1em;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
}

/* PARTS/COMPONENTS */
#head {
  font-size: 6rem;
  font-weight: 500;
}

#main {
  font-size: 1.5rem;
}

#foot {
  bottom: 2rem;
  font-size: 1rem;
  font-weight: 300;
  left: 4rem;
  position: absolute;
}
#foot :any-link {
  color: #000;
}

/* ----- HELPERS ----- */

/* ----- OVERRIDES ----- */
@supports (display: grid) {
  body {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: auto 1fr auto;
  }

  #foot {
    position: static;
  }
}
