/* ----- CONFIG ----- */
:root {
  --gap: 1.5rem;
  --margin-top: 1.5rem;
  --margin-x: 1.75rem;
}



/* ----- RESETS ----- */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  margin: 0;
  padding: 0;
}



/* ----- BASE ----- */
:any-link {
  background-color: transparent;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

html {
  background: linear-gradient(
    to bottom,
    #3bd961 15%,
    #0eb7f5 50%,
    #0eb7f5 90%,
    #00759e
  );
  min-height: 100vh;
  width: 100vw;
}

body {
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', 'Consolas', 'Lucida Console', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  padding-top: var(--margin-top);
}
body > * {
  padding: 0 var(--margin-x);
}
body > * + * {
  margin-top: var(--gap);
}

ol {
  list-style-position: inside;
  padding: 0;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
}



/* ----- COMPONENTS ----- */
#head {
  flex-shrink: 0;
  font-size: 6rem;
  font-weight: 500;
}

#main {
  flex-grow: 1;
  font-size: 1rem;
}

#foot {
  background-color: #ffffff40;
  border-top: 1px solid #fff2;
  flex-shrink: 0;
  font-size: 0.75rem;
  padding: 1.5em var(--margin-x);
}
#foot :any-link {
  color: #006;
}



/* ----- OVERRIDES ----- */

@media (min-width: 60em) { /* desktop */
  :root {
    --gap: 2rem;
    --margin-top: 4rem;
    --margin-x: 3rem;
  }

  #main {
    font-size: 1.5rem;
  }

  #foot {
    font-size: 1rem;
    font-weight: 300;
  }
}
